---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Incluso from '../components/Incluso.astro';
import More from '../components/More.astro';
import Programacao from '../components/Programacao.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Jokana Trip - Porto Seguro Roteiros"
  description="A melhor trip da sua vida, só para elas."
/>
<style>
  html {
    background-color: white;
    font-family: 'Poppins', sans-serif;
  }
</style>
<body>
  <Header />
  <Hero />
  <More />
  <Programacao />
  <Incluso />
  <Footer />
</body>
