---

---

<footer class="footer footer-center bg-[#F69602] text-primary-content p-10">
  <aside>
    <img src="logo-black-psr.svg" alt="" />
    <p class="font-bold">Porto Seguro Roteiros</p>
    <p>Copyright © {new Date().getFullYear()} - Todos os direitos reservados.</p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="https://instagram.com/portoseguroroteiros" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-instagram"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#050617"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path>
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
          <path d="M16.5 7.5l0 .01"></path>
        </svg>
      </a>
      <a
        href="https://api.whatsapp.com/send/?phone=5573999171128&text=Ol%C3%A1%2C+vim+do+site%2C+gostaria+de+mais+informa%C3%A7%C3%B5es+sobre+a+Jokana+Trip...&type=phone_number&app_absent=0"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-whatsapp"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#050617"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
          <path
            d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
</footer>
