---

---

<header class="flex max-w-7xl md:justify-between mx-auto p-6 justify-center border-b-2">
  <a href="https://www.portoseguroroteiros.com.br/"
    ><img
      src="https://www.portoseguroroteiros.com.br/_next/static/media/Porto-Seguro-Roteiros.5db52011.svg"
      alt="Logo Porto Seguro Roteiros"
    /></a
  >
  <nav class="md:flex gap-8 hidden text-[black] md:items-center">
    <a href="">O que é</a>
    <a href="">Programação</a>
    <a href="">Preço</a>
  </nav>
</header>
