---

---

<section class="px-8 md:py-32 py-20 flex flex-wrap gap-10 max-w-4xl m-auto justify-center" id="oquee">
  <div class="max-w-96">
    <h2 class="text-[#F69602] text-3xl font-bold text-center pb-4">O que há de melhor...</h2>
    <p class="text-[#3d3d3d] text-center">
      Nos últimos 5 anos, a Porto Seguro Roteiros recebeu mais de 8 mil mulheres, e percebemos que
      cada vez mais elas estão vindo em viagem solo para Porto Seguro, em contrapartida algumas
      ainda tem medo de fazer essa primeira viagem sozinha, e realmente não é tão simples essa
      escolha.
    </p>
  </div>
  <div class="max-w-96">
    <h2 class="text-[#F69602] text-3xl font-bold text-center pb-4">Com isso...</h2>
    <p class="text-[#3d3d3d] text-center">
      Decidimos unir o que há de melhor na cidade e fazer uma viagem apenas para mulheres, com
      experiências únicas, praias, festas e o mais importante, a segurança de saber que nada ficará
      faltando, todas juntas em um só grupo, a Jokana Trip agora é oficial, venha fazer parte do
      time e faça a melhor a trip da sua vida.
    </p>
  </div>
</section>
